<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    </head>
    
    <body>
	<div class="pure-g">
	    <div class="pure-u-1-6">
	    </div>
	    <div class="pure-u-1-2">
		<h1>This is the INPUT DEMO  page</h1>
		<hr/>
		Name: {{name}}
		<br/>
		Age: {{ age }}
		<br/>
		Lucky Number : {{ lucky }}
		<hr/>
		<form class="pure-form" action="" method="POST" >
		    Name: <input name="name" type="text" value=""/>
		    <br/>
		    Age: <input name="age" type="text" value=""/>
		    <br/>
		    <input class="pure-button pure-button-primary" type="submit" name="submit"></input>
		</form>
            </div>
	</div>
    </body>

</html>
